/* Estilo para o formulário */
body {
    background-color: #00C5FF;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #616161;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f7f7f7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.form-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
    margin-top: 0;
    color: #414141;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.form-card select, .form-card input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.form-card label {
    color: #414141;
    margin-right: 15px; /* Afasta um pouco para a direita */
}

.form-card label input[type="radio"] {
    vertical-align: middle;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #FF5630;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #FF3728;
}
